.header {
    @include layout;
    left: 0;
    right: 0;
    top: 0;
    z-index: 11;
    position: absolute;
    color: $cLight;
    top: 0;
    left: 50%;
    width: 100%;
    box-sizing: border-box;
    transform: translateX(-50%);
    transition: .2s $easing filter;
    @include desktop {
        max-width: $max-width;
    }

    .fp-viewing-2 & {
        filter: brightness(0);
    }
    
    &_holder {
        @include layout-inner;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        min-height: 72px;
        padding-top: 32px;
        gap: 30px;
        @include desktop {
            align-items: center;
        }
    }

    &_button {
        @include button-reset;
        font-size: 24px;
        letter-spacing: -1.6px;
        color: $cLight;
        padding: 14px 0 10px;
        border-bottom: 4px solid currentColor;
        @include tablet {
            font-size: 32px;
        }


    }
}
