.page {
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
    @include tablet {
        height: 100vh;
        padding-top: 140px;
        padding-bottom: 180px;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    &:nth-child(1)::after {
        background: linear-gradient(180deg, transparent 0%, transparent 82%, $cBright 100%);
    }
    &:nth-child(2)::after {
        background: linear-gradient(180deg, $cBright 0%, $cBright 91%, $cLight 100%);
    }
    &:nth-child(3)::after {
        background: linear-gradient(180deg, $cLight 0%, $cLight 82%, $cGreen 100%);
        color: $color;
    }
    &:nth-child(4)::after {
        background: $cGreen;
    }

    &_holder {
        @include layout;
        @include tablet {
            height: 100%;
        }
    }

    &_content {
        @include layout-inner;
        position: relative;
        z-index: 2;
    }
    
    &_video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    h1 {
        position: relative;
        z-index: 2;
    }

    &_next {
        background: url(#{$img}/arrow-down.svg) no-repeat right bottom;
        padding: 0 48px 8px 0;
        font-size: 24px;
        line-height: 1;
        letter-spacing: -1.2px;
        display: inline-block;
        cursor: pointer;
        z-index: 2;
        position: relative;
        transition: .2s $easing opacity;
        @include tablet {
            font-size: 32px;
        }

        &:hover {
            opacity: .6;
        }

        [data-page="3"] & {
            background-image: url(#{$img}/arrow-down-dark.svg);
        }
    }
}