@mixin button {
    display: inline-block;
    background: transparent;
    box-sizing: border-box;
    cursor: pointer;
    color: $cGray;
    border: 1px solid currentColor;
    border-radius: 24px;
    white-space: nowrap;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    padding: 30px;
    font-family: $font-family;
    min-width: 250px;
    width: 100%;
    transition: .3s $easing background,
                .2s $easing color,
                .2s $easing border-color;
    @include tablet {
        width: auto;
    }

    &:hover {
        // background: linear-gradient(45deg, #141418 13.06%, #787891 99.63%);
        color: $cLight;
    }

    &:active {
        // background: $color;
        color: $cLight;
    }

    &:disabled {
        pointer-events: none;
        opacity: .6;
    }
}

.button,
button,
input[type="button"],
input[type="submit"] {
    @include button;
}

.button {
    overflow: hidden;
    position: relative;

    &:hover {
        text-decoration: none;
        color: $color;
        border-color: $cBright;
    }

    &::before {
        content: '';
        position: absolute;
        background: transparent;
        border-radius: 100%;
        top: 50%;
        left: 50%;
        box-shadow: 0 1em 2em 3em rgba(#CDF52D, 0.5),
            4em 0em 2em 2em rgba(#B0B0BF, 0.6),
            -4em -2em 2em 2em rgba(#CDF52D, 0.5),
            -4em 2em 2em 4em rgba(#B0B0BF, 0.5);
        width: 0;
        height: 0;
        opacity: 0;
        transition: .2s ease opacity;
        animation: bg-mix 4s linear infinite;
    }

    .light-page & {
        color: $color;
    }

    .light-page &::before {
        animation-name: bg-mix-light-page;
    }

    &:hover::before {
        opacity: 1;
    }

    &:active {
        background: $cBright;
    }

    &:active::before {
        opacity: 0;
    }

    .light-page &:hover {
        background: $color;
        color: $color;
        border-color: $color;
    }

    .light-page &:active {
        background: $cLight;
    }

    &_text {
        position: relative;
        z-index: 1;
        pointer-events: none;
    }

    .light-page &_text:hover {
        color: $color;
    }
}

.button__dark,
.section__green .button {
    color: $color;
    border: 1px solid $color;

    &:hover {
        background: $color;
        color: $cLight;
    }

    &::before {
        content: '';
        box-shadow: 0 1em 2em 3em rgba(#515159, 0.7),
                    4em 0em 2em 2em rgba(#787891, 0.8),
                    -4em -2em 2em 2em rgba(#515159, 0.7),
                    -4em 2em 2em 4em rgba(#787891, 0.7);
        animation: bg-dark-mix 4s linear infinite;
    }

    &:active {
        background: $color;
    }
}

.light-page input[type="submit"]:hover {
    color: $cLight;
}

@keyframes bg-mix {
  30% {
    box-shadow: 0 -1em 2em 6em rgba(#CDF52D, 0.5),
                4em -1em 2em 6em rgba(#B0B0BF, 0.8),
                -4em 2em 3em 5em rgba(#CDF52D, 0.5),
                -4em -2em 2em 5em rgba(#B0B0BF, 0.6);
  }
  
  60% {
    box-shadow: 2em 1em 2em 6em rgba(#B0B0BF, 0.5),
                3em 1em 2em 6em rgba(#CDF52D, 0.6),
                3em -2em 3em 5em rgba(#B0B0BF, 0.5),
                -4em 2em 2em 5em rgba(#CDF52D, 0.6);
  }
}

@keyframes bg-mix-light-page {
  30% {
    box-shadow: 0 -1em 2em 6em rgba(#CDF52D, 0.8),
                4em -1em 2em 6em rgba($cLight, 1),
                -4em 2em 3em 5em rgba(#CDF52D, 0.7),
                -4em -2em 2em 5em rgba($cLight, 0.9);
  }
  
  60% {
    box-shadow: 2em 1em 2em 6em rgba($cLight, 1),
                3em 1em 2em 6em rgba(#CDF52D, 0.8),
                3em -2em 3em 5em rgba($cLight, 1),
                -4em 2em 2em 5em rgba(#CDF52D, 0.7);
  }
}

@keyframes bg-dark-mix {
  30% {
    box-shadow: 0 -1em 2em 3em rgba(#515159, 0.7),
                4em -1em 2em 3em rgba(#787891, 0.9),
                -4em 2em 3em 2em rgba(#515159, 0.7),
                -4em -2em 2em 2em rgba(#787891, 0.8);
  }
  
  60% {
    box-shadow: 2em 1em 2em 3em rgba(#515159, 0.7),
                3em 1em 2em 3em rgba(#787891, 0.8),
                3em -2em 3em 3em rgba(#787891, 0.7),
                -4em 2em 2em 3em rgba(#515159, 0.8);
  }
}
