.form {
    padding: 23px 0 0;
    margin: auto;

    &_row {
        margin: 0 0 10px;
        position: relative;
    }

    &_error {
        font-size: 14px;
        line-height: 19px;
        color: #ff0000;
        position: absolute;
        left: 0;
        bottom: -27px;
        display: none;

        .error & {
            display: block;
        }
    }
}
